.menu-dashboard-user {
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .menu-dashboard-user ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-dashboard-user li {
    margin-bottom: 5px;
  }
  
  .menu-dashboard-user a {
    text-decoration: none;
    color: #333;
  }
  
  .menu-dashboard-user a:hover {
    color: #555;
  }
  