<p-menubar class="menu-bar" [model]="items">
    <ng-template pTemplate="start">
        <img src="assets/demo/images/login/8.png" alt="Image" height="70" class="mb-1">
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">       
        <a style="margin-top: 20px;margin-left:20px;color: #5e5a5a;text-transform: uppercase;" pRipple class="flex align-items-center p-menuitem-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="total" />
            <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
            <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="user-info">
            <img src="https://img.freepik.com/free-icon/user_318-159711.jpg?w=2000" alt="User Profile" class="user-avatar">
            <span class="user-name"> {{ userEmail }} </span>
            <button pButton type="button" label="Terminar Sessão" icon="pi pi-sign-out" class="logout-button"></button>
        </div>
    </ng-template>
</p-menubar>

<div style="margin:35px;">
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="col-8" *ngIf="isNewDiv">
                <div class="card">
                    <h2 style="text-transform: uppercase;" class="text-gray-600"> Meus Dados </h2>
                    <hr />
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label class="text-gray-700" for="status"> Meu Nome:* </label>
                            <input pInputText type="text">
                          </div>
                          <div class="field col-12 md:col-4">
                            <label class="text-gray-500" for="valorDespesa"> Meu Contacto:*</label>
                            <input 
                            pInputText 
                            type="text"       
                            >
                          </div>                      

                        <div class="field col-12 md:col-4">
                            <label class="text-gray-500" htmlFor="firstname2"> Email:* </label>
                            <input pInputText id="firstname2" placeholder="" type="text"/>
                        </div>
                        <div class="col-12 md:col-4">
                            <button pButton class="p-button-rounded p-button-success" style="text-transform: uppercase;" label="Editar"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; align-items: center; gap: 10px">
                <button [loading]="loading[0]" (click)="toggleNewDiv(); load(0)" pButton label="{{ isNewDiv ? 'Mostrar a Tabela' : 'Editar meus dados' }}" style="text-transform: uppercase;" class="p-button-rounded mb-2" icon="pi pi-plus"></button>
            </div>
            <p-table [value]="[currentUser]" *ngIf="!isNewDiv" dataKey="" [paginator]="true" [rowsPerPageOptions]="[1]" #dt1 [rows]="1" [globalFilterFields]="['']">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText (input)="dt1.filterGlobal($event.target.value, 'contains')" type="text" [(ngModel)]="searchQuery" (input)="searchByName()" placeholder="Pesquisar meu dados" class="w-full"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template *ngIf="!isNewDiv" pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                               Nome
                                <p-columnFilter type="text" field="" display="menu" placeholder="Pesquisar por nome"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Contacto
                                <p-columnFilter type="text" field="" display="menu" placeholder="Pesquisar por telefone"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                            Email
                                <p-columnFilter type="text" field="" display="menu" placeholder="Pesquisar por ações"></p-columnFilter>
                            </div>
                        </th>

                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                            Bilhete de identidade
                                <p-columnFilter type="text" field="" display="menu" placeholder="Pesquisar por ações"></p-columnFilter>
                            </div>
                        </th>
                    
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user let-i="rowIndex">
                    <tr>
                      <td> {{ user?.nome }} </td>
                      <td> {{ user?.contacto }} </td>
                      <td>
                        {{ user?.email }}
                      </td>
                      <td>
                        {{ user.bi }}
                      </td>
                    </tr>
                  </ng-template>
                  
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="animacao" colspan="6">
                            <span style="font-size: 1.2em; font-weight: 100;"> Nenhum dados do morador encontrado. </span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td class="text-gray-500" colspan="6"> Está processando, por favor aguarde. </td>
                    </tr>
                </ng-template>
            </p-table>

            
        </div>
    </div>
</div>
</div>

<div class="layout-footer">
    <span style="color:#a31e1e; font-weight: 900; font-size: 14px; text-transform: uppercase;" class="font-medium ml-2 text-gray-500">Condoflow 2024</span>
</div>
