<p-menubar class="menu-bar custom-menubar" [model]="items">
    <ng-template pTemplate="start">
        <img src="assets/demo/images/login/8.png" alt="Image" height="70" class="mb-1">
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">       
        <a style="margin-top: 20px;margin-left:20px;color: #5e5a5a;text-transform: uppercase;" pRipple class="flex align-items-center p-menuitem-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="total" />
            <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
            <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="user-info">
            <img src="https://img.freepik.com/free-icon/user_318-159711.jpg?w=2000" alt="User Profile" class="user-avatar">
            <span class="user-name"> {{ userEmail }} </span>
            <button pButton type="button" label="Terminar Sessão" (click)="logout()" icon="pi pi-sign-out" class="logout-button"></button>
        </div>
    </ng-template>
</p-menubar>


<div style="margin: 35px;"> 
           
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h2 style="font-weight: 200; text-transform: uppercase;" class="text-gray-600"> Contas a Pagar </h2>
            <div class="col-8" *ngIf="isNewDiv">
                <div class="card">
                    <h2 style="text-transform: uppercase;" class="text-gray-600"> Efectuar pagamento </h2>
                    <hr />
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label class="text-gray-700" for="status"> Selecione a despesa a pagar:* </label>
                            <select [(ngModel)]="despesasData.despesa_id" (change)="onChangeDespesa()" style="width: 37vh; height: 5.5vh; border-radius: 4px; border: 1px solid #ddd;">
                              <option *ngFor="let despesa of despesas" [value]="despesa.id_despesa"> {{ despesa.nome_despesa }} </option>
                            </select>

                          </div>
                          <div class="field col-12 md:col-4">
                            <label class="text-gray-500" for="valorDespesa"> Valor:* </label>
                            <input 
                            style="font-size: 17px; color:#a31e1e; font-weight: 800;"
                            pInputText 
                            type="text" 
                            [(ngModel)]="despesasData.valor_despesa"
                            readonly
                            >
                          </div>                      

                        <div class="field col-12 md:col-4">
                            <label class="text-gray-500" htmlFor="firstname2"> Email:* </label>
                            <input pInputText [(ngModel)]="despesasData.morador_id" id="firstname2" placeholder="" type="text"/>
                        </div>


                        <div class="field col-12 md:col-4">
                            <label class="text-gray-500" htmlFor="firstname2"> Unidade:* </label>
                            <input pInputText [(ngModel)]="despesasData.unidade_id" id="firstname2" placeholder="" type="text"/>
                        </div>

                        <div class="field col-12 md:col-4">
                            <label class="text-gray-700" for=""> Comprovativo:* </label>
                            <input (change)="onFileSelected($event)" accept=".pdf, .png, .jpg" name="comprovativo_despesa" pInputText type="file"/>
                        </div>

                        <div class="field col-12 md:col-4">
                            <label class="text-gray-700" for=""> Referente ao mês de:* </label>
                            <p-calendar  
                            [iconDisplay]="'input'"
                            [showIcon]="true"
                            inputId="icondisplay"
                            [(ngModel)]="despesasData.mes_despesa"
                            name="mes_despesa"
                          >
                          </p-calendar>
                        </div>
                        <div class="col-12 md:col-4">
                            <button pButton (click)="addPagamento()" class="p-button-rounded p-button-success" style="text-transform: uppercase;" label="Confirmar"> </button> <i class="pi pi-check"> </i>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; align-items: center; gap: 10px">
                <button [loading]="loading[0]" (click)="toggleNewDiv(); load(0)" pButton label="{{ isNewDiv ? 'Mostrar a Tabela' : 'Pagamento' }}" style="text-transform: uppercase;" class="p-button-rounded mb-2" icon="pi pi-plus"></button>
            </div>
            <p-table [value]="carregaDespesas" *ngIf="!isNewDiv" dataKey="id_despesa" [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]" #dt1 [rows]="10" [globalFilterFields]="['nome_despesa']">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Gerar PDF" icon="pi pi-spin pi-spinner" (click)="gerarPDF()" class="p-button-secondary">
                            <i class="pi pi-download mr-2"></i>
                        </button>
                        <span class="respo p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText (input)="dt1.filterGlobal($event.target.value, 'contains')" type="text" [(ngModel)]="searchQuery" (input)="searchByName()" placeholder="Pesquisar Quota" class="w-full"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template *ngIf="!isNewDiv" pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Tipo de despesa
                                <p-columnFilter type="text" field="nome_despesa" display="menu" placeholder="Pesquisar por nome"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Valor
                                <p-columnFilter type="text" field="valor_despesa" display="menu" placeholder="Pesquisar por telefone"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Comprovativo
                                <p-columnFilter type="text" field="comprovativo_despesa" display="menu" placeholder="Pesquisar por ações"></p-columnFilter>
                            </div>
                        </th>

                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                            Referente ao Mês de    
                            <p-columnFilter type="text" field="mes_despesa" display="menu" placeholder="Pesquisar por ações"></p-columnFilter>
                            </div>
                        </th>

                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Estado
                                <p-columnFilter type="text" field="estado" display="menu" placeholder="Pesquisar por ações"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Ações
                                <p-columnFilter type="text" field="" display="menu" placeholder="Pesquisar por ações"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-despesa let-i="rowIndex">
                    <tr>
                      <td>{{ despesa.nome_tipo_despesa }}</td>
                      <td>{{ despesa.valor_despesa }}</td>
                      <td>
                        <ng-container *ngIf="isPDF(despesa.comprovativo_despesa); else showImage">
                          <a style="text-transform: uppercase;font-weight:800;" class="text-gray-600" [href]="'http://192.168.1.59:5000/uploads/' + despesa.comprovativo_despesa" target="_blank">
                             <i style="color:red; font-size: 3em;" class="pi pi-file-pdf"></i>
                          </a>
                        </ng-container>
                        <ng-template #showImage>
                            <img [src]="'http://192.168.1.59:5000/uploads/' + despesa.comprovativo_despesa"
                                 alt="Comprovativo do pagamento"
                                 width="100"
                                 (click)="openLightbox(getImageIndex(despesa.comprovativo_despesa))" />
                          </ng-template>
                      </td>
                      <td>{{ despesa.mes_despesa  | date: 'dd/MM/yyyy'}}</td>
                      <td [ngStyle]="{'color': (isPago(despesa.estado) ? 'green': (isInAnalise(despesa.estado)? 'red': '') ) }"
                          style="text-transform: uppercase; font-weight: 600;">
                        {{ despesa.estado }}
                      </td>
                      <td>
                        <button pButton class="mr-2 p-button-success" (click)="showModal = true">
                          <i class="pi pi-pencil"></i>
                        </button>
                        <button pButton (click)="eliminarPessoa()" class="p-button-warning">
                          <i class="pi pi-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                  
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="animacao" colspan="6">
                            <span style="font-size: 1.2em; font-weight: 100;">Nenhuma conta paga encontrada.</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td class="text-gray-500" colspan="6">Está processando, por favor aguarde.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </div>
    </div>
</div>

<div class="layout-footer">
    <span style="color:#a31e1e; font-weight: 900; font-size: 14px; text-transform: uppercase;" class="font-medium ml-2 text-gray-500">Condoflow 2024</span>
</div>
