<p-menubar class="menu-bar custom-menubar" [model]="items">
  <ng-template pTemplate="start">
      <img src="assets/demo/images/login/8.png" alt="Image" height="70" class="mb-1">
  </ng-template>
  <ng-template pTemplate="item" let-item let-root="root">       
      <a style="margin-top: 20px;margin-left:20px;color: #5e5a5a;text-transform: uppercase;" pRipple class="flex align-items-center p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="total" />
          <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
          <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
      </a>
  </ng-template>
  <ng-template pTemplate="end">
      <div class="user-info">
          <img src="https://img.freepik.com/free-icon/user_318-159711.jpg?w=2000" alt="User Profile" class="user-avatar">
          <span class="user-name"> {{ userEmail }} </span>
          <button pButton type="button" label="Terminar Sessão" (click)="logout()" icon="pi pi-sign-out" class="logout-button"></button>
      </div>
  </ng-template>
</p-menubar>

<div style="margin: 35px;" > 
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h2 style="font-weight: 200; text-transform: uppercase;" class="text-gray-600"> Pedido de Manutenção </h2>
            <div class="col-8" *ngIf="isNewDiv">
                <div class="card">
                    <h2 style="text-transform: uppercase;" class="text-gray-600"> Efectuar manutenção </h2>
                    <hr />
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label class="text-gray-700" for="status"> Selecione o tipo de manutenção:* </label>
                            <select [(ngModel)]="manutencao.tipo_manutencao_id" (change)="onChangeDespesa()" style="width: 37vh; height: 5.5vh; border-radius: 4px; border: 1px solid #ddd;">
                              <option *ngFor="let manu of manutencoes" [value]="manu.id_tipo_manutencao">  {{ manu.descricao_manutencao }} </option>
                            </select>
                          </div>
                          <div class="field col-12 md:col-4">
                            <label class="text-gray-500" for="valorDespesa"> Descrição:* </label>
                            <textarea
                            [(ngModel)]="manutencao.descricao_manutencao"
                            pInputText 
                            type="text" 
                            
                            > </textarea>
                          </div>                      

                          <div class="field col-12 md:col-4">
                            <label class="text-gray-500" for="firstname2">ID Morador:* </label>
                            <input [(ngModel)]="manutencao.morador_id" pInputText id="firstname2" placeholder="" type="text"/>
                          </div>
                          
                          <div class="field col-12 md:col-4">
                            <label class="text-gray-500" for="idUnidade">ID Unidade:* </label>
                            <input [(ngModel)]="manutencao.unidade_id" pInputText id="idUnidade" placeholder="" type="text"/>
                          </div>
                          

          
                        <div class="col-12 md:col-4">
                            <button pButton (click)="addManutencao()" class="p-button-rounded p-button-success" style="text-transform: uppercase;" label="Salvar"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; align-items: center; gap: 10px">
                <button [loading]="loading[0]" (click)="toggleNewDiv(); load(0)" pButton label="{{ isNewDiv ? 'Mostrar a Tabela' : 'Manutenção' }}" style="text-transform: uppercase;" class="p-button-rounded mb-2" icon="pi pi-plus"></button>
            </div>
            
            <p-table [value]="manuten" *ngIf="!isNewDiv" dataKey="id_manutencao" [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]" #dt1 [rows]="10" [globalFilterFields]="['descricao_manutencao']">
                <ng-template pTemplate="caption">
                  <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Gerar PDF" icon="pi pi-spin pi-spinner" (click)="gerarPDF()" class="p-button-secondary">
                      <i class="pi pi-download mr-2"></i>
                    </button>
                    <span class="respo p-input-icon-left mb-2">
                      <i class="pi pi-search"></i>
                      <input pInputText (input)="dt1.filterGlobal($event.target.value, 'contains')" type="text" [(ngModel)]="searchQuery" placeholder="Pesquisar Manutenção" class="w-full"/>
                    </span>
                  </div>
                </ng-template>
                <ng-template *ngIf="!isNewDiv" pTemplate="header">
                  <tr>
                    <th style="min-width: 12rem">
                      <div class="flex justify-content-between align-items-center">
                        Tipo de manutenção
                        <p-columnFilter type="text" field="nome_manutencao" display="menu" placeholder="Pesquisar por tipo"></p-columnFilter>
                      </div>
                    </th>
                    <th style="min-width: 12rem">
                      <div class="flex justify-content-between align-items-center">
                        Descrição
                        <p-columnFilter type="text" field="descricao_manutencao" display="menu" placeholder="Pesquisar por descrição"></p-columnFilter>
                      </div>
                    </th>
                    <th style="min-width: 12rem">
                      <div class="flex justify-content-between align-items-center">
                        Data da requisição
                        <p-columnFilter type="text" field="data_manutencao" display="menu" placeholder="Pesquisar por data"></p-columnFilter>
                      </div>
                    </th>
                    <th style="min-width: 12rem">
                      <div class="flex justify-content-between align-items-center">
                        Ações
                        <p-columnFilter type="text" field="" display="menu" placeholder="Pesquisar por ações"></p-columnFilter>
                      </div>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-manutencao let-i="rowIndex">
                  <tr>
                    <td> {{ manutencao.nome_manutencao }} </td>
                    <td> {{ manutencao.descricao_manutencao }} </td>
                    <td> {{ manutencao.data_manutencao | date: 'dd/MM/yyyy' }} </td>
                    <td>
                      <button pButton class="mr-2 p-button-success" (click)="showModal = true">
                        <i class="pi pi-pencil"></i>
                      </button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td class="animacao" colspan="4">
                      <span style="font-size: 1.2em; font-weight: 100;">Nenhuma manutenção encontrada.</span>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                  <tr>
                    <td class="text-gray-500" colspan="4">Processando, por favor aguarde...</td>
                  </tr>
                </ng-template>
              </p-table>
                
        </div>
    </div>
</div>
</div>


<div class="layout-footer">
    <span style="color:#a31e1e;font-weight: 900;font-size:14px;text-transform: uppercase;" 
    class="font-medium ml-2 text-gray-500"> Condoflow 2024 </span>
 </div>