<p-menubar class="menu-bar custom-menubar" [model]="items">
    <ng-template pTemplate="start">
        <img src="assets/demo/images/login/8.png" alt="Image" height="70" class="mb-1">
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">       
        <a style="margin-top: 20px;margin-left:20px;color: #5e5a5a;text-transform: uppercase;" pRipple class="flex align-items-center p-menuitem-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="total" />
            <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
            <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="user-info">
            <img src="https://img.freepik.com/free-icon/user_318-159711.jpg?w=2000" alt="User Profile" class="user-avatar">
            <span class="user-name"> {{ userEmail }} </span>
            <button pButton type="button" label="Terminar Sessão" icon="pi pi-sign-out" (click)="logout()" class="logout-button"></button>
        </div>
    </ng-template>
</p-menubar>

<div style="margin: 35px;">
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <h2 style="font-weight: 900; text-transform: uppercase;" class="text-gray-600"> Pedido de Socorro <i style="font-size: 30px;color:rgb(194, 194, 56);" class="pi pi-exclamation-triangle"></i> </h2>
                <div class="emergency-buttons" style="display: flex; justify-content: space-around; margin-top: 20px;">
                    <button pButton class="p-button-danger" (click)="reportEmergency('Incêndio')" severity="secondary" label="Incêndio">
                        <img src="https://img.icons8.com/ios-filled/50/FFC222/fire-element.png" alt="Incêndio" style="height: 50px;">
                    </button>
                    <button pButton class="p-button-danger" (click)="reportEmergency('Assalto')" label="Assalto">
                        <img src="https://img.icons8.com/ios-filled/50/333/crime.png" alt="Assalto" style="height: 50px;">
                    </button>
                    <button pButton class="p-button-danger" (click)="reportEmergency('Problema de Saúde')" label="Problema de Saúde">
                        <img src="https://img.icons8.com/ios-filled/50/000/ambulance.png" alt="Problema de Saúde" style="height: 50px;">
                    </button>
                    <button pButton class="p-button-danger" (click)="reportEmergency('Outros')" label="Outros">
                        <img src="https://img.icons8.com/ios-filled/50/000/emergency-exit.png" alt="Outros" style="height: 50px;">
                    </button>
                </div>
                <br> <br>
                
                
                <p-table [value]="emergencias" *ngIf="!isNewDiv" dataKey="id_despesa" [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]" #dt1 [rows]="10" [globalFilterFields]="['nome_despesa']">
                   
                    <ng-template *ngIf="!isNewDiv" pTemplate="header">
                        <tr>
                            <th style="min-width: 12rem">
                                <div class="flex justify-content-between align-items-center">
                                    Tipo de emergência
                                    <p-columnFilter type="text" field="nome_despesa" display="menu" placeholder="Pesquisar por nome"></p-columnFilter>
                                </div>
                            </th>
                          
                            <th style="min-width: 12rem">
                                <div class="flex justify-content-between align-items-center">
                                    Data e Hora
                                    <p-columnFilter type="text" field="comprovativo_despesa" display="menu" placeholder="Pesquisar por ações"></p-columnFilter>
                                </div>
                            </th>
                          
                            <th style="min-width: 12rem">
                                <div class="flex justify-content-between align-items-center">
                                    Ações
                                    <p-columnFilter type="text" field="" display="menu" placeholder="Pesquisar por ações"></p-columnFilter>
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-emergencia let-i="rowIndex">
                        <tr> 
                          <td>{{ emergencia.tipo_emergencia }}</td>
                          <td>{{ emergencia.data_hora_emergencia | date: 'dd/MM/yyyy HH:mm'}}</td>
                      
                          <td>
                            <button pButton class="mr-2 p-button-success" (click)="showModal = true">
                              <i class="pi pi-pencil"></i>
                            </button>
                            <button pButton (click)="eliminarPessoa()" class="p-button-warning">
                              <i class="pi pi-trash"></i>
                            </button>
                          </td>
                        </tr>
                      </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td class="animacao" colspan="6">
                                <span style="font-size: 1.2em; font-weight: 100;"> Nenhuma alerta de emergência encontrada. </span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody">
                        <tr>
                            <td class="text-gray-500" colspan="6"> Está processando, por favor aguarde. </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<div class="layout-footer">
    <span style="color:#a31e1e; font-weight: 900; font-size: 14px; text-transform: uppercase;" class="font-medium ml-2 text-gray-500">Condoflow 2024</span>
</div>
