<p-menubar class="menu-bar custom-menubar" [model]="items">
  <ng-template pTemplate="end">
    <div class="user-info">
      <img src="https://img.freepik.com/free-icon/user_318-159711.jpg?w=2000" alt="User Profile" class="user-avatar">
      <span class="user-name"> {{ userEmail }} </span>
      <button pButton type="button" label="Terminar Sessão" icon="pi pi-sign-out" class="logout-button" (click)="logout()"></button>
    </div>
  </ng-template>
</p-menubar>


<div style="margin: 30px;">
    <p-table [value]="visitantes" *ngIf="!isNewDiv" dataKey="" [paginator]="true"  [rowsPerPageOptions]="[10, 25, 50]" #dt1 [rows]="10" [globalFilterFields]="['nome_visitante', 'nome_bloco', 'contacto_visitante', 'nome_unidade', 'contacto_unidade', 'nome_morador']" >
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
           <h2 style="text-transform: uppercase;font-weight: 900;"> Acesso e Segurança <i style="font-size: 20px;" class="pi pi-fw pi-shield"></i> </h2> 
            <button pButton label="Unidades com maior Frequência de Visitas" icon="pi pi-spin pi-spinner" (click)="gerarPDF()" class="p-button-info"> </button>
         
            <span class="p-input-icon-left mb-2">
              <i class="pi pi-search"></i>
              <input pInputText (input)="dt1.filterGlobal($event.target.value, 'contains')" type="text" [(ngModel)]="searchQuery" (input)="searchByName()" placeholder="Pesquisar Visitante" class="w-full" />
            </span>

          </div>
        </ng-template>
        <ng-template *ngIf="!isNewDiv" pTemplate="header">
          <tr>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Foto do visitante
                <p-columnFilter type="text" field="id_visitante" display="menu" placeholder="Pesquisar por ID"></p-columnFilter>
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Nome do visitante
                <p-columnFilter type="text" field="nome_visitante" display="menu" placeholder="Pesquisar por nome"></p-columnFilter>
              </div>
            </th>
       
            <th style="min-width: 14rem">
              <div class="flex justify-content-between align-items-center">
                Contacto do visitante
                <p-columnFilter type="text" field="contacto_visitante" display="menu" placeholder="Pesquisar por bilhete de identidade"></p-columnFilter>
              </div>
            </th>

            <th style="min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                  Bloco
                  <p-columnFilter type="text" field="bilhete_visitante" display="menu" placeholder="Pesquisar por endereço"></p-columnFilter>
                </div>
              </th>

              <th style="min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                  Unidade
                  <p-columnFilter type="text" field="bilhete_visitante" display="menu" placeholder="Pesquisar por endereço"></p-columnFilter>
                </div>
              </th>

            <th style="min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                  Responsável
                  <p-columnFilter type="text" field="bilhete_visitante" display="menu" placeholder="Pesquisar por endereço"></p-columnFilter>
                </div>
              </th>

              <th style="min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                  Estado
                  <p-columnFilter type="text" field="estado" display="menu" placeholder="Pesquisar por endereço"></p-columnFilter>
                </div>
              </th>
            
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Ações
                <p-columnFilter type="text" field="status" display="menu" placeholder="Pesquisar por ações"></p-columnFilter>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-relative>
            <tr>
                <td>
                    <img style="border-radius: 5%;" *ngIf="relative.imagem_do_visitante" [src]="'http://127.0.0.1:5000/visitantes/' + relative.imagem_do_visitante"
                         alt="Imagem do Visitante"
                         width="100"
                         height="100"
                         (click)="openLightbox(getImageIndex(relative.imagem_do_visitante))" />
                    <span *ngIf="!relative.imagem_do_visitante"> Não inseriu foto. </span>
                </td>
                <td> {{ relative.nome_visitante }} </td>
                <td><span class="image-text ml-2"> {{ relative.contacto_visitante }} </span></td>
                <td><span class="image-text ml-2"> {{ relative.nome_bloco }} </span></td>
                <td> {{ relative.nome_unidade }} </td>
                <td> <span style="color:#333;font-weight:700;"> Sr(a) </span> <br> {{ relative.nome_morador }} </td>
                <td [ngStyle]="{'color': (isAutorizado(relative.estado) ? 'green' : (isNotAutorizado(relative.estado) ? 'red' : ''))}" style="text-transform: uppercase;font-weight:700;"> {{ relative.estado }} </td>
                <td>
                <button pButton class="mr-2 p-button-secondary" (click)="verCompleto(relative.id_visitante)" title="Obter mais informações do visitante"><i class="pi pi-info-circle"></i></button>
                <p-dialog header="Detalhes do Visitante" [(visible)]="showModal" [modal]="true" [style]="{width: '50vw'}">
                    <div *ngIf="visitanteDetalhes"> <hr>
                      <p> <strong>  Nome: </strong>     {{ visitanteDetalhes.nome_visitante }} </p>
                      <p> <strong>  Apelido: </strong>  {{ visitanteDetalhes.apelido_visitante }} </p>
                      <p> <strong>  Contacto: </strong> {{ visitanteDetalhes.contacto_visitante }} </p>
                      <p> <strong>  Bilhete: </strong>  {{ visitanteDetalhes.bilhete_visitante }} </p>
                      <p> <strong>  Bloco: </strong>    {{ visitanteDetalhes.nome_bloco }} </p>
                      <p> <strong>  Unidade: </strong>  {{ visitanteDetalhes.nome_unidade }} </p>
                      <p> <strong>  Estado: </strong>   {{ visitanteDetalhes.estado }} </p>
                      <p> <strong>  Morador: </strong>  {{ visitanteDetalhes.nome_morador }} </p>
                      <p> <strong>  Email do Morador: </strong> {{ visitanteDetalhes.email_morador }} </p>
                      <p> <strong>  Telefone Morador: </strong> {{ visitanteDetalhes.telefone_morador }} </p>
                      <p> <strong>  Hora de entrada: </strong> </p>
                      <p> <strong>  Hora de Saída: </strong> </p>
                     <hr>
                    </div>
                    <p-footer>
                      <button pButton label="Fechar" icon="pi pi-times" (click)="fecharModal()"></button>
                    </p-footer>
                  </p-dialog>
        
                    <button pButton (click)="eliminarPessoa(relative.id_visitante)" class="p-button-default"><i class="pi pi-download"></i></button>
                </td>
            </tr>
        </ng-template>
        
        
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="animacao" colspan="6"> <span style="font-size: 1.2em;font-weight: 100;"> Nenhum visitante encontrado. </span>  </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
          <tr>
            <td class="text-gray-500" colspan="6"> Está processando, por favor aguarde. </td>
          </tr>
        </ng-template>
      </p-table>
</div>

<div class="layout-footer">
<span style="color:#a31e1e;font-weight: 900;font-size:14px;text-transform: uppercase;" 
class="font-medium ml-2 text-gray-500"> Condoflow 2024 </span>
 </div>